body {
	padding-top: 30px;
	font-family: Arial;	
}

.container {
	width: 600px;
	margin: 10 auto;
}

a:link, a:visited {
	color: White;
	text-decoration: none;
	border-bottom: 2px solid Green;
	font-size: 150%;
}

a:hover {
	color: Orange;
	border-bottom: Red;
}

small {
	color: Green;
	font-style: italic;
}

p{
	line-height: 30px;
}

ol li{
	line-height: 50px;
}

input[type=text], input[type=password], textarea{
	-webkit-appearance: none;
	padding: 5px;
	border: 1px solid black;
}

input[type=text]:focus, input[type=password]:focus, textarea:focus{
	outline: none;
}

.slideshow{
	margin: 50px auto;
	position: relative;
	width: 400px;
	height: 300px;
	padding: 10px;
	box-shadow: 0 0 0px rgba(0,0,0,0.4);
}

.slideshow>div{
	position: absolute;
}